.Label {
	/* Composition */
	display: flex;
	flex-direction: column;
	gap: 5px;
	/* Box-model */
	width: 100%;
	/* margin: 5px 0px; */
	box-sizing: border-box;
	/* Typography */
	text-align: start;
	font-size: 1.125rem;
	font-weight: normal;
	color: var(--Wh);
}

.Input {
	/* Box-model */
	padding: 5px 8px;
	max-width: 100%;
	height: 2.375rem;
	/* Visual */
	border: solid 2px rgba(var(--Ter), 0);
	border-radius: var(--SubContainerBorderRadius);
	outline: none;
	background-color: var(--Wh);
	/* Typography */
	color: var(--Bg);
	font-size: medium;
	font-weight: var(--Medium);
	/* Visual effects */
	transition: all 0.2s;
}
