@use "../variables" as *;

@mixin LogoTipo($FontSize: large, $FontColor: $Sec) {
	// Composition
	display: flex;
	align-items: center;
	// Typography
	font-size: $FontSize;
	font-weight: $SemiBold;
	color: $FontColor;
}

@mixin TitleContainer($FontSize: large, $FontColor: $Sec) {
	// Composition
	display: flex;
	align-items: center;
	// Typography
	font-size: $FontSize;
	font-weight: $SemiBold;
	color: $FontColor;
}

@mixin textArea {
	// Box-model
	height: 100px;
	padding: 5px 8px;
	max-width: 350px;
	max-height: 300px;
	resize: none;
	// Visual
	border: solid 2px rgba($color: $Ter, $alpha: 0);
	border-radius: $SubContainerBorderRadius;
	outline: none;
	background-color: $Wh;
	// Typography
	color: $Bg;
	font-size: medium;
	font-weight: $Medium;
	// Visual effects
	transition: all 0.2s;
}

@mixin textAreaFocus() {
	// Visual
	border: solid 2px rgba($color: $Ter, $alpha: 1);
	// Visual effects
	transition: all 0.2s;
}

@mixin Button($Backg, $W: 100%, $H: 3rem, $hasLetters: false, $fontColor: $Bg) {
	// Composition
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	// Box-model
	width: $W;
	height: $H;
	// Visual
	background-color: $Backg;

	// color: var.$Fc;
	border-style: none;
	border-radius: $SubContainerBorderRadius;
	// Visual effects
	transition: all 0.2s;

	@if $hasLetters {
		// Typography
		color: $fontColor;
		font-weight: $Medium;
		font-size: small;
	} @else {
		@error "Unknown type of button #{$type}.";
	}
}

@mixin ButtonHover($Backg, $alpha: 0.8, $hasLetters: false, $fontColor: $Bg) {
	// Visual
	background-color: rgba($color: $Backg, $alpha: $alpha);
	// Visual effects
	transition: all 0.2s;

	@if $hasLetters {
		// Typography
		color: $fontColor;
	} @else {
		@error "Unknown type of button #{$type}.";
	}
}

@mixin Link($Bg, $W: 100%, $H: 3rem) {
	// Composition
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	// Box-model
	width: $W;
	height: $H;
	// Visual
	background-color: $Bg;
	// color: var.$Fc;
	border-style: none;
	border-radius: $SubContainerBorderRadius;
	// Visual effects
	transition: all 0.2s;
	cursor: default;
}

@mixin LinkHover($Bg, $alpha: 0.8) {
	// Visual
	background-color: rgba($color: $Bg, $alpha: $alpha);
	// Visual effects
	transition: all 0.2s;
}
