html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
  /* Colors */
  --Pri: #323546;
  --Sec: #D9D9D9;
  --Ter: #49CC68;

  --RedF: #EA3943;
  --Bg: #222531;
  --Wh: #FFF;

  /* Hover */
  --DarkHover: #171924;

  /* Warnig */
  --Green: #87FF7C;
  --Yellow: #FFDD64;
  --Red: #FFB2B2;

  /* BordersRadius */
  --ContainerBorderRadius: 10px;
  --SubContainerBorderRadius: 5px;

  /* Paddings */
  --PaddingsConteiner: 25px;
  --PaddingsLoginSignUp: 30px 85px;

  /* Typography */
  --Medium: 500;
  --SemiBold: 600;

  /* Styles */
  color: var(--Wh);

}

body {
  /* Box model */
  height: 100vh;

  background-color: var(--Bg);
}