// Utils
@use "utils/variables" as *;
@use "utils/mixins" as *;

.ArticContainer {
	@media (width <= 768px) {
		// Box-model
		max-width: 500px;
	}

	// Box-model
	max-width: 400px;
	width: 100%;
	gap: 10px;
	// Composition
	display: flex;
	flex-direction: column;
}
