// Utils
@use "utils/variables" as *;
@use "utils/mixins" as *;

.ArticContainer {
	@media (width <= 768px) {
		// Box-model
		max-width: 500px;
	}

	// Box-model
	max-width: 400px;
	width: 100%;
	gap: 10px;
	// Composition
	display: flex;
	flex-direction: column;
	// Visual
	// background-color: $Pri;
	// border-radius: 10px;

	.OverviewHead {
		// Box-model
		padding: $PaddingsConteiner;
		gap: 8px;
		// Composition
		display: flex;
		flex-direction: column;
		// Visual
		background-color: $Pri;
		border-radius: $ContainerBorderRadius;

		.BalanceSpan {
			// Visual
			color: $Sec;
			// Typography
			font-size: large;
			font-weight: $SemiBold;
		}
		.TotalOutput {
			// Box-model
			gap: 10px;
			// Composition
			display: flex;
			flex-direction: row;
			align-items: center;

			span {
				// Composition
				display: flex;
				align-self: flex-end;
				// Typography
				font-size: larger;
				font-weight: $SemiBold;
				color: $Green;
			}
		}
	}

	// .ContainerChart{
	//     // Box-model
	//     height: 160px;

	//     text{
	//         // Typography
	//         font-family: 'Rubik', sans-serif !important;
	//         fill: $Sec !important;
	//         font-weight: bold !important;
	//         text-transform: uppercase !important;
	//         font-size: small !important;
	//     }
	// }
}
