// Font's URL
@import url('https://fonts.googleapis.com/css2?family=Itim&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// Colors
$Pri: #323546;
$Sec: #D9D9D9;
$Ter: #49CC68;

$RedF: #EA3943;
$Bg: #222531;
$Wh: #FFF;

// Hover
$DarkHover: #171924;

// Warnig
$Green: #87FF7C;
$Yellow: #FFDD64;
$Red: #FFB2B2;

// BordersRadius
$ContainerBorderRadius: 10px;
$SubContainerBorderRadius: 5px;

// Paddings
$PaddingsConteiner: 25px;
$PaddingsLoginSignUp: 30px 85px;

// Typography
$Medium: 500;
$SemiBold: 600;
