// Font's URL
@import url("https://fonts.googleapis.com/css2?family=Itim&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

// Colors
$Pri: #36394C;
$Sec: #fff;
$Ter: #49cc68;

$RedF: #ea3943;
$Bg: #242935;
$Wh: #fff;

// Hover
$DarkHover: #171924;

// Warnig
$Green: #87ff7c;
$Yellow: #ffdd64;
$Red: #ffb2b2;

// BordersRadius
$ContainerBorderRadius: 10px;
$SubContainerBorderRadius: 5px;

// Paddings
$PaddingsConteiner: 25px;
$PaddingsLoginSignUp: 30px 65px;

// Typography
// FontWeight
$SmallFontWeight: small;
$MediumFontWeight: medium;
$LargeFontWeight: large;
// FontSize
$SemiBold: 500;
$Medium: 600;
