@use "utils/variables" as *;
@use "utils/mixins" as *;

.ContainerLoginSingUp {
	// Box-model
	width: 100%;
	max-width: 500px;
	padding: $PaddingsLoginSignUp;
	gap: 15px;
	// Composition
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	// Visual
	background-color: $Pri;
	border-radius: $ContainerBorderRadius;
	.LogoTipo {
		@include LogoTipo($Fs: x-large, $Fc: $Green);
	}

	// Login Btn Styles
	.BtnLogin {
		@include Button($Backg: $Bg, $H: 36px, $hasLetters: true, $fontColor: $Sec);
	}
	.BtnLogin:hover {
		@include ButtonHover($Backg: $Sec, $alpha: 1, $hasLetters: true, $fontColor: $Bg);
	}
	.BtnLoginWithGoogle {
    @include Button($Backg: $Green, $H: 36px, $hasLetters: true, $fontColor: $Bg);
	}
	.BtnLoginWithGoogle:hover {
		@include ButtonHover($Backg: $Sec, $alpha: 1, $hasLetters: true, $fontColor: $Bg);
	}
	// Sing up Btn Styles
	.BtnSingUp {
		@include Button($Backg: $Bg, $H: 36px, $hasLetters: true, $fontColor: $Sec);
	}
	.BtnSingUp:hover {
		@include ButtonHover($Backg: $Sec, $alpha: 1, $hasLetters: true, $fontColor: $Bg);
		// Loader
		div::before {
			background-color: $Pri !important;
		}
		div::after {
			background-color: $Pri !important;
		}
	}
	.BtnSingUpWithGoogle {
		@include Button($Backg: $Green, $H: 36px, $hasLetters: true, $fontColor: $Bg);
	}
	.BtnSingUpWithGoogle:hover {
		@include ButtonHover($Backg: $Sec, $alpha: 1, $hasLetters: true, $fontColor: $Bg);
	}

	.Link {
		// Typography
		color: $Green;
		text-decoration: none;
	}
}
