// Utils
@use "utils/variables" as *;
@use "utils/mixins" as *;

.UserWalletsSectionContainer {
	/* Box-model */
	padding: $PaddingsConteiner;
	gap: 10px;
	/* Composition */
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	/* Visual */
	background-color: $Pri;
	border-radius: $ContainerBorderRadius;

	.ContainerHead {
		width: 100%;
		/* Box-model */
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		.CurrentWalletContainer {
			// Box-model
			background-color: $Bg;
			padding: 0px 10px;
			height: 100%;
			border-radius: $ContainerBorderRadius;
			// Composition
			display: flex;
			justify-content: center;
			align-items: center;

			span {
				@include TextStyles(
					$FontSize: large,
					$FontColor: $Sec,
					$FontWeight: $SemiBold
				);

				.CurrentWallet {
					@include TextStyles(
						$FontSize: none,
						$FontColor: $Green,
						$FontWeight: none
					);
				}
			}
		}

		button {
			@include Button($Backg: $Pri, $W: none, $H: none, $fontColor: $Bg);
		}
		button:hover {
			@include ButtonHover(
				$Backg: $Bg,
				$alpha: 1,
				$hasLetters: true,
				$fontColor: $Bg
			);
		}
	}

	.CurrentBalanceContainer {
		width: 100%;
		/* Box-model */
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 10px;

		.Title {
			@include TextStyles(
				$FontSize: medium,
				$FontColor: $Sec,
				$FontWeight: $SemiBold
			);
		}

		.Balance {
			// Box-model
			display: flex;
			align-items: center;
			background-color: $Bg;
			width: fit-content;
			padding: 0px 10px;
			height: 100%;
			min-height: 36px;
			border-radius: $ContainerBorderRadius;
			// Typography
			@include TextStyles(
				$FontSize: larger,
				$FontColor: $Green,
				$FontWeight: $SemiBold
			);
		}
	}
}
