// Utils
@use "utils/variables" as *;
@use "utils/mixins" as *;

.BalanceContainer {
	/* Box-model */
	padding: $PaddingsConteiner;
	gap: 8px;
	/* Composition */
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	/* Visual */
	background-color: $Pri;
	border-radius: $ContainerBorderRadius;

	.CurrencyContainer {
		/* Box-model */
		display: flex;
		flex-direction: column;
		gap: 10px;
		width: 100%;

		.BalanceSpan {
			// Your Balance
			@include TextStyles($FontSize: medium, $FontColor: none, $FontWeight: $SemiBold);
		}

		.PriceCurrency {
			/* Composition */
			display: flex;
			/* Typography */
			font-size: smaller;
			font-weight: $SemiBold;
			color: $Sec;

			span {
				/* Composition */
				display: flex;
				/* Box-model */
				gap: 5px;
				background-color: $Bg;
				padding: 5px 10px;
				border-radius: $ContainerBorderRadius;

				.MainCurrencyPrice {
					/* Typography */
					color: $Green;
				}
			}
		}
	}

	section.BtnContainer {
		/* Box-model */
		gap: 5px;
		/* Composition */
		display: flex;
		// flex-direction: row;
		flex-wrap: nowrap;
		align-items: flex-start;

		@media (width <= 280px) {
			// Composition
			flex-wrap: wrap;
		}

		button {
			@include Button($Backg: $Pri, $W: fit-content, $H: none, $fontColor: $Bg);
		}
		button:hover {
			@include ButtonHover(
				$Backg: $Bg,
				$alpha: 1,
				$hasLetters: true,
				$fontColor: $Bg
			);
		}
	}
}
