// Utils
@use "utils/variables" as *;
@use "utils/mixins" as *;

.ContainerWalletCard {
	display: flex;
	align-items: center;
	gap: 10px;
	background-color: $Bg;
	padding: 12px 10px;
	border-radius: $ContainerBorderRadius;

	.ContainerBody {
		display: flex;
		justify-content: space-between;
		width: 100%;
		gap: 10px;

		@media (width <= 280px) {
			// Composition
			flex-wrap: wrap;
		}

		.ContainerWallet {
			display: flex;
			flex-direction: column;
			width: fit-content;
			gap: 5px;

			.WalletName {
				@include TextStyles($FontSize: none, $FontColor: none, $FontWeight: $SemiBold);
			}
			.WalletBalance {
				@include TextStyles($FontSize: none, $FontColor: $Green, $FontWeight: none);
			}
		}
		.ContainerTranstion {
			display: flex;
			flex-direction: column;
			width: fit-content;
			gap: 5px;

			.LastTransactionTitle {
				@include TextStyles($FontSize: none, $FontColor: none, $FontWeight: $SemiBold);
			}

			.LastTransactionSpent {
				@include TextStyles($FontSize: none, $FontColor: $RedF, $FontWeight: none);
			}
			.LastTransactionIncome {
				@include TextStyles($FontSize: none, $FontColor: $Green, $FontWeight: none);
			}
		}
	}
}
